node_modules/
dist/
.DS_Store
referencias/aplicacoes/
referencias/AM - 3ª Retificação do Edital - 19.06.2026
referencias/assets/Texto do seu parágrafo.mp4
referencias/assets/**/*.pdf
referencias/assets/**/*.AI
referencias/assets/**/*.ai
referencias/FDownloader.Net_AQMkJioQYoheJ75OksadV281X7OGJMknA9N99DsRIJFUBWGpb5qU_1-nbS8WtnKhfaYE_NGG_nTog1Q9_L2hYol7Par1LVNJItg_720p_(HD).mp4
